.ope {
    background: red;
}
.anu {
    background: yellow;
}
.together {
    background-color: #f8fbfe;
}
.nav-link:hover {
    color: red;
}

.navbar-nav {
    margin-left: 78px;
}
#space a {
    margin-left: 78px;
    color: white;
}
.nav-link {
    color: white!important;
}