.ope {
    background: red;
}
.anu {
    background: yellow;
}
.together {
    background-color: #f8fbfe;
}

#space a {
    margin-left: 78px;
    color: white;
}
a {
    color: white;
}
.nav-link {
    color: white !important;
}
.navbar-brand{
    color: white! important;
}
body{
    background: unset! important;
}