body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.ope {
    background: red;
}
.anu {
    background: yellow;
}
.together {
    background-color: #f8fbfe;
}

#space a {
    margin-left: 78px;
    color: white;
}
.tobi a  {
    font-size: 40px;
}
body{
    background: unset! important;
    font-family: sans-serif;
}
/* .nav-link {
    color: white;
    font-size: 34px;
} */
